[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
terracotta = {extras = ["recommended"], version = "*"}
crick = "*"
numpy = "*"
cython = "*"
ipython = "*"
rich = "*"
rasterio = "*"
gunicorn = "*"

[dev-packages]
black = "*"
